<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grupo2.aplicaciongrupo2" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".ActividadPrincipal"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.grupo2.aplicaciongrupo2.Acelerometro"
            android:label="@string/title_activity_acelerometro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.grupo2.aplicaciongrupo2.Termometro"
            android:label="Termometro">
        </activity>
        <activity
            android:name="com.grupo2.aplicaciongrupo2.Pulsometro"
            android:label="Pulsometro">
        </activity>
        <activity
            android:name="com.grupo2.aplicaciongrupo2.Luz"
            android:label="Luz">
        </activity>
        <activity
            android:name="com.grupo2.aplicaciongrupo2.Giroscopio"
            android:label="Giroscopio">
        </activity>
        <activity
            android:name="com.grupo2.aplicaciongrupo2.HumedadActivity"
            android:label="Humedad">
        </activity>
        <activity
            android:name="com.grupo2.aplicaciongrupo2.MagnometroActivity"
            android:label="Magnometro">
        </activity>
        <activity
            android:name="com.grupo2.aplicaciongrupo2.ProximidadActivity"
            android:label="Proximidad">
        </activity>
        <activity
            android:name="com.grupo2.aplicaciongrupo2.Podometro"
            android:label="Podómetro">
        </activity>
    </application>

</manifest>
